<#@ template language="C#" #>
<#@import namespace="hw.Helper" #>
using System;
using System.Collections.Generic;
using System.Linq;

public static class V13
{
    public static Taabus.Configuration Data()
    {
        return <#= Serialize().Indent(3) #>;
    }
}