<#@ template language="C#" #>
<#@import namespace="hw.Helper" #>
using System;
using System.Collections.Generic;
using System.Linq;

public static class TaabusProject
{
    public static Taabus.TaabusProject Project()
    {
        return <#= Serialize().Indent(3) #>;
    }
}